# Node.js関連
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# TypeScriptのビルド結果
dist/
build/

# 環境変数ファイル
.env
.env.local

# TypeScriptのビルド情報
*.tsbuildinfo

# その他のOS/IDE関連
.DS_Store
.vscode/
.idea/
